@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
@import "resethtml5.css";
@import "all.min.css";
@import "slick.css";
@import "slick-theme.css";

/* https://encycolorpedia.com/5bab2e */

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #353535;
    font-size: 14px;
    line-height: 1.6;
    overflow-x: hidden;
}

img {
    width: 100%;
    display: block;
}

/* 
HEADER
*/
header {
    background-color: #fff;
}

#top {
    line-height: 50px;
    background-color: #5bab2e;
    background-image: linear-gradient(141deg, #00AAA1 0%, #51b8b0 51%, #7ac7bf 75%);
    color: #fff;
}

.top_box_right span {
    display: inline-block;
    margin: 0 8px 0;
}


#logo {
    max-width: 200px;
}

#logo img {
    width: 100%;
    display: block;
}

#main_nav li {
    position: relative;
}

#main_nav li  a {
    text-decoration: none;
}

#main_nav > ul > li {
    display: inline-block;
    line-height: 40px;
    padding: 0 10px;
}

#main_nav > ul > li >  a {
    text-transform: uppercase;
    color: #0E644B;
    font-weight: 600;
}


/* 
MAIN CONTENT
*/

#main img {
    max-width: 100%;
}

.title_wrap {
    margin-bottom: 30px;
}

.title_wrap .title {
    text-transform: uppercase;
    font-size: 18px;
}

.title_wrap .title span {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.title_wrap .title span::after {
    content: "";
    height: 2px;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: #5bab2e;
    transform: translateX(-50%);
}

/* 
Modules
*/

#uni_modules {
    background-color: #5bab2e;
    background-image: linear-gradient(141deg, #00AAA1 0%, #51b8b0 51%, #7ac7bf 75%);
    color: #fff;
}

#uni_modules .title_wrap .title {
    color: #e5f1dc;
}

.uni_list_box .icon {
    width: 27px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.uni_list_box li {
    clear: both;
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px;
}
.uni_list_box li::after {
    content: "";
    width: 25px;
    height: 25px;
    background: url(../imgs/content3-icon.png) no-repeat center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.uni_video_box iframe {
    width: 100%;
    display: block;
}

/*  */

.img_box_content {
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.1);
    border-radius: 18px;
    overflow: hidden;

}

.img_box_content .text_wrap {
    padding: 20px;
}

.uni_video_box {
    position: relative;
    z-index: 2;
    padding: 10px;
}

.uni_video_box::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s;
}

.uni_video_box:hover .uni_video_box::after {
    margin: 10px -10px;
}

.uni_video_box.style2::after {
    background-color: #5bab2e;
} 

/* 
OUT TEAM
*/
#our_team {
    background: #092b6b url(../imgs/cvtv-bg.jpg) 0 no-repeat;
    background-size: cover;
}

#our_team .title_wrap .title {
    color: #e5f1dc;
}

/*  */
.our_team_sl .items {
    border-radius: 10px;
    text-align: center;
    padding: 0 30px;
    overflow: hidden;
    background: #fff url(../imgs/bg-nui.jpg.png) -30px -40px no-repeat;
    background-size: 120%;
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
}

.our_team_sl .items.center {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.our_team_sl .items img {
    border: 2px solid #fff;
    width: 120px;
    max-height: 120px;
    border-radius: 50%;
    margin: 76px auto 20px;
}

.our_team_sl .text_wrap {
    margin: 0 0 30px;
    background: url(../imgs/chat-tools.png) no-repeat center bottom;
    padding-bottom: 35px;
}